Flask==3.1.2
GitPython==3.1.46
Jinja2==3.1.6
PyYAML==6.0.3
anthropic==0.79.0
black==26.1.0
chardet==5.2.0
click==8.3.1
dataclasses-json==0.6.7
mypy==1.19.1
openai==2.21.0
pathspec==1.0.4
pydantic==2.12.5
pygments==2.19.2
pylint==4.0.4
pytest-cov==7.0.0
pytest==9.0.2
python-dotenv==1.2.1
requests==2.32.5
toml==0.10.2
types-PyYAML==6.0.12.20250915
